@use "../variables/colors" as color;

.background {
  background-color: color.$white;
}

.bgDot {
  background: white;
  background-image: radial-gradient(color.$bg_dot_color 2px, transparent 0);
  background-size: 20px 20px;
}
