---
import BaseLayout from '../../layouts/BaseLayout.astro'


---
<script>
    import { ui } from '../../i18n/ui'
    console.log(ui)
</script>
<BaseLayout>
    <h1>Testing onlinelorenzocirelli</h1>
    <p>Testing components and style</p>
</BaseLayout>