---
import { getRelativeLocaleUrl } from "astro:i18n";
const currentPath = Astro.url.pathname;
---

<style lang="scss">
  @use "../../assets/styling/variables/_spacing" as spacing;
  @use "../../assets/styling/variables/_radius" as radius;
  @use "../../assets/styling/variables/_colors" as color;
  @use "../../assets/styling/designComponents/shadow.scss" as shadow;
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__bar {
      @extend .shadow;
      background-color: color.$whiteLight;
      display: flex;
      padding: spacing.$padding spacing.$padding * 6;
      border-radius: radius.$border_radius * 2;
      gap: spacing.$padding * 11;
      &__opzioni {
        gap: spacing.$padding * 4;
        display: flex;
        a {
          align-items: center;
          cursor: pointer;
          padding: 0 spacing.$padding * 2;
          border-radius: radius.$border_radius;
        }
      }
    }
  }

  .active {
    background-color: color.$selection;
  }
</style>
<style lang="scss" scoped></style>
<div class="navigation">
  <div class="navigation__bar">
    <a href="/">
      <span class="navigation__bar--logo"
        ><p class="logo">Lorenzo Cirelli</p></span>
    </a>

    <span class="navigation__bar__opzioni">
      <a
        href="/"
        class={currentPath === "/it" || currentPath === "/en" ? "active" : ""}
        ><p>Home</p></a
      >
      <a href={getRelativeLocaleUrl("it", "justme")}><p>Me</p></a>
      <a><p>Open source & librerie</p></a>
      <a><p>Articoli & blog</p></a>
      <a><p>Branding</p></a>
      <a><p>Legal</p></a>
      <a><p>Contatti</p></a>
    </span>
  </div>
</div>
