---
import "../assets/styling/baseDesign.scss";
import TopNavigationBar from "../components/navigation/TopNavigationBar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio online di lorenzo cirelli, con tutti i progetti e librerie pubbliche"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>onlinelorenzocirelli</title>
    <style lang="scss">
      @use "../assets/styling/variables/_spacing" as spacing;
      body {
        display: grid;
        grid-template-rows: auto 1fr;
        min-height: 100svh;
        margin: 0;
      }

      .barra {
        padding: spacing.$padding * 2;
      }

    </style>
  </head>
  <body>
    <div class="barra"><TopNavigationBar /></div>
    <div class="contenuto">
      <slot />
    </div>
  </body>
</html>
